@model IEnumerable<FocusFlow.Models.Projekt>

@{
    ViewData["Title"] = "Übersicht Projekte";
}

<h1>Übersicht Projekte</h1>

<p>
    <a asp-action="Create">Neues Projekt erstellen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titel)
            </th>
            <th>
                Priorität
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fortschritt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projektleiter)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prioritaet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fortschritt)
            </td>
            <td>
                @($"{item.Projektleiter.Vorname} {item.Projektleiter.Nachname}")
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ProjektId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProjektId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
