@model FocusFlow.Models.Projektphase

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Projektphase</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjektphaseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjektphaseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DauerInTagen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DauerInTagen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartdatumGeplant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartdatumGeplant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnddatumGeplant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnddatumGeplant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartdatumEffektiv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartdatumEffektiv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnddatumEffektiv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnddatumEffektiv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewdatumGeplant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewdatumGeplant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewdatumEffektiv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewdatumEffektiv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Freigabedatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Freigabedatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Freigabevermerk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Freigabevermerk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fortschritt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fortschritt)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProjektphaseId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
        <input type="hidden" name="ReturnUrl" value="@ViewData["ReturnUrl"]" />
    </form>
</div>
