@model FocusFlow.Models.Dokument

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Dokument</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Typ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Typ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pfad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pfad)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DokumentId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a href="@ViewData["ReturnUrl"]">Back</a>
        <input type="hidden" name="ReturnUrl" value="@ViewData["ReturnUrl"]" />
    </form>
</div>
