@model IEnumerable<FocusFlow.Models.Mitarbeiter>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nachname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vorname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abteilung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arbeitspensum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nachname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vorname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abteilung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arbeitspensum)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MitarbeiterId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MitarbeiterId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MitarbeiterId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
